<html>

<head>
    <div id="p1"></div>
    <script>
        const websocket = new WebSocket('ws://127.0.0.1:8006/socket')
        g = document.createElement('div');
        document.body.appendChild(g);
        websocket.onmessage = function (evt) {
            console.log(evt.data)
            message = evt.data
            div = message.split("</div>")[0]
            div = div.split("id=")[1]
            div = div.split("\"")[1]
            s = message.split("</div>")[1]
            s = s.split("<script>")[1]
            s = s.split("\<\/script>")[0]
            console.log(div)
            g.setAttribute("id", div);
            g.innerHTML = ""
            var script = document.createElement("script");
            script.innerHTML = s;
            document.body.appendChild(script);
        }
    </script>
</head>

<body></body>

</html>